# Кэш Python
__pycache__
*.py[cod]
*$py.class


# Виртуальные окружения (зависимости)
.venv/
venv/
env/
ENV/

# Настройки сред разработки (IDE)
.vscode
.idea/

# Переменные окружения (ЗДЕСЬ ЖИВУТ ВАШИ ПАРОЛИ И ТОКЕНЫ!)
.env
.env.local

# Локальные базы данных (если используете SQLite)
*.sqlite3
*.db

# Логи и отчеты об ошибках
*.log
crashdump/

assets/